Importing library and requesting data from the wikipedia page

In [100]:
import urllib.request

In [101]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [102]:
page = urllib.request.urlopen(url)

Importing library for web scrapping

In [103]:
from bs4 import BeautifulSoup

Getting html code of the requested page

In [104]:
soup = BeautifulSoup(page, 'html5lib')

In [105]:
#soup.prettify() Running this code will print the html code where we find the table that we want

We Observe the table is surrounded by the html table tags th and td

In [106]:
#soup.title
#soup.title.string Commands to display title of page we requested

Now we find all tables in the page

In [107]:
all_tables=soup.find_all("table")
#all_tables Run this command to show the extracted html part of all tables

We Notice that our table in of class wikitable sortable, so we extract that table

In [108]:
right_table=soup.find('table', class_='wikitable sortable')
#right_table Run this command to display the table we wanted in html format

Now we need to extract data from html format. as there are 3 columns we make 3 lists and append values to them. Note each entry starts with th and ends with td.

In [109]:
A=[]
B=[]
C=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True)[:-1:])
        B.append(cells[1].find(text=True)[:-1:])
        C.append(cells[2].find(text=True)[:-1:])

We convert the lists to dataframe

In [110]:
import pandas as pd
df=pd.DataFrame(A,columns=['Postal Code'])
df['Borough']=B
df['Neighbourhood']=C

In [111]:
#df Run this command to display ectire dataframe

We remove the rows where Borough is "Not assigned"

In [112]:
df1=df[df['Borough']!='Not assigned']
#df1 Run this command to display the datafarme

We group the entries on the basis of similar postal code. i.e. same postal code with 2 neighbourhood will become 1 entry(row)

In [113]:
df2=df1.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [114]:
#df2 Run to print the dataframe

We check if there is any Neighbourhood "Not assigned"

In [115]:
df2[df2['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

As there are no such rows- df2 is our final dataframe. useing .shape to find number of rows

In [118]:
count=df2.shape

In [119]:
print("No of rows",count[0])
print("No of columns",count[1])

No of rows 103
No of columns 3